<mat-card>
    <mat-card-header>
      <mat-card-title>Subtitle {{index + 1}}</mat-card-title>
      <mat-icon class="delete-action" (click)="deleteDialogBox(dialogId)" matTooltip="Delete Subtitle">delete</mat-icon>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field subscriptSizing="dynamic">
          <textarea matInput [formControl]="getDialogControl('subtitles')" type="text"></textarea>
        </mat-form-field>
        <div fxLayout="column" fxLayoutGap="10px" fxFlex="30">
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>From:</mat-label>
            <input matInput (blur)="emitStartTimeValue()" [formControl]="getDialogControl('start_time')" matTooltip="hh:mm:ss:ms" type="time" step="0.1">
          </mat-form-field>
          <mat-form-field subscriptSizing="dynamic">
            <mat-label>To:</mat-label>
            <input matInput (blur)="emitEndTimeValue()" [formControl]="getDialogControl('end_time')" matTooltip="hh:mm:ss:ms" type="time" step="0.1">
          </mat-form-field>
        </div>
    </mat-card-content>
</mat-card>