<div *ngIf="(user$ | async)" class="dashboard-wrapper">
    <div class="dashboard-header">
        <span class="my-videos">My Videos ({{(userVideos$ | async)?.length}})</span>
        <button mat-icon-button
           (click)="openDialog()" matTooltip="Add New video"><mat-icon>add</mat-icon>
        </button>
        <mat-form-field>
            <mat-label>Search By Title</mat-label>
            <input matInput #searchInput>
        </mat-form-field>
        <div class="view-switch">
            <button mat-icon-button matTooltip="List View" (click)="changeToListView()"><mat-icon>dehaze</mat-icon></button>
            <button mat-icon-button matTooltip="Grid View" (click)="changeToGridView()"><mat-icon>grid_on</mat-icon></button>
        </div>
    </div>

    <div class="view-wrapper">
        <div #userVideosContainer class="video-container">
            <div class="no-video" *ngIf="!(userVideos$ | async); else videos">
                <h3>No videos found, click on the + button to get started!</h3>
            </div>
            <ng-template #videos>
                <div class="video" *ngFor="let video of userVideos$ | async | filter: searchInput.value">
                    <video-card *ngIf="youtubeVideoDetails" [videoId]="video.videoId"
                    (editVideoEmitter)="navigateToDetailsView($event)"
                    (deleteVideoEmitter)="deleteVideoPrompt($event)"
                    (videoIdEmitter)="previewVideo($event)"
                    [videoDetails]="getVideoDetailsById(video.videoId)"></video-card>
                </div>            
            </ng-template>            
        </div>
        <div *ngIf="listView" class="video-player-card">
            <mat-card>
                <mat-card-content align="center" class="card-content">
                    <ng-container *ngIf="!videoSelectedId">
                        <mat-icon class="video-icon">video_library</mat-icon>
                        <mat-card-title>Select a video to preview.</mat-card-title>
                    </ng-container>
                    <div class="iframe-container" *ngIf="videoSelectedId">
                        <youtube-player [videoId]="videoSelectedId"></youtube-player>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

    <mat-divider></mat-divider>
    <div class="community-videos-header">
        <h1>Community Videos</h1>
        <h3>Someone in the Sub&Dub community needs your help! Assist them with subtitling their videos.</h3>
    </div>
    <div class="video-container">
            <div class="" *ngFor="let video of communityVideos$ | async">
                <community-video-card *ngIf="youtubeVideoDetails" [videoId]="video.videoId"
                    (editVideoEmitter)="navigateToCommunityEdit($event)"
                    [communityRequestDetails] = "video"
                    [videoDetails]="getVideoDetailsById(video.videoId)">
                </community-video-card>
            </div>
    </div>

</div>

<div class="video-submission-form" *ngIf="isFormOpen">
    <app-video-init-form class="video-init-form">
    </app-video-init-form>
</div>
<fullscreen-loader *ngIf="(loading$ | async)"></fullscreen-loader>