.spacer {
    flex: 1 1 auto;
  }
  
  .user-wrapper {
    display:flex;
    gap:10px;
  }

  .user-name {
    margin: 0 10px 0 0;
  }

  .user-icon {
    border-radius:50%;
    width:32px;
    height:32px;
  }

.mat-toolbar-single-row {
  background: white;
  border-bottom: 1px solid black;
  height:80px;
}

.logo {
  border-radius: 20px;
  padding: 10px;
  width:150px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:32px;
  font-weight: bold;
  font-family: 'MartianMono';
}

.menu-items {
  padding-left:40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  gap:40px;
  font-family: 'MartianMono';
  cursor: pointer;
}