<mat-toolbar>
    <div class="logo">S & D</div>
    <div class="menu-items">
        <span [routerLink]="''">Home</span>
        <span [routerLink]="'dashboard'" [matTooltip]="'Login to view your Dashboard'" [matTooltipDisabled]="auth.isLoggedIn">Dashboard</span>
    </div>
    <span class="spacer"></span>
    <div class="user-wrapper" *ngIf="(auth.user | async) as user">
        <img class="user-icon" [src]="user.photoURL"> 
        <h3 class="user-name" >
            Hello, {{user.displayName}}
        </h3>
    </div>
    <login-button></login-button>
</mat-toolbar>