.spacer {
    flex: 1 1 auto;
  }
  
  .user-wrapper {
    display:flex;
    gap:10px;
  }

  .user-name {
    margin: 0 10px 0 0;
  }

  .user-icon {
    border-radius:50%;
    width:32px;
    height:32px;
  }