<mat-stepper [linear]="true">
    <mat-step [editable]="false" label="Review your Subtitles" (selectionChange)="generateSSML()">
        <div fxLayoutAlign="center center" fxLayout="column">
            <mat-card *ngFor="let subtitle of textContentSSML; let index = index">
                <mat-card-header>
                  <mat-card-title>Subtitle {{index + 1}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-form-field >
                      <textarea [value]="subtitle.text" [(ngModel)]="subtitle.text" matInput type="text"></textarea>
                    </mat-form-field>
                    <div fxLayout="column" fxLayoutGap="10px" fxFlex="30">
                      <mat-form-field>
                        <mat-label>From:</mat-label>
                        <input [value]="subtitle.start_time" [(ngModel)]="subtitle.start_time" matInput matTooltip="hh:mm:ss:ms" type="time" step="0.1">
                      </mat-form-field>
                      <mat-form-field>
                        <mat-label>To:</mat-label>
                        <input matInput [value]="subtitle.end_time" [(ngModel)]="subtitle.end_time" matTooltip="hh:mm:ss:ms" type="time" step="0.1">
                      </mat-form-field>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <button mat-button matStepperNext (click)="generateSSML()">Next</button>
    </mat-step>
    <mat-step label="Generate SSML">
        <ng-template matStepContent>
                <div fxLayoutAlign="center center" fxLayout="column" class="textarea-ssml">
                    <mat-form-field>
                        <textarea rows="20" [value]="SSMLContent" matInput>
                        </textarea>
                    </mat-form-field>
                </div>
        </ng-template>
        <button mat-button matStepperNext>Next</button>
    </mat-step>
    <mat-step label="Generate Speech">

    </mat-step>
        <button mat-button matStepperPrevious>Back</button>
</mat-stepper>