<!-- <div class="main-view-login" *ngIf="!(auth.user | async)">
    <div class="call-to-action_login">
        <h1 style="padding-top:15px;">To Unlock all features,</h1>
        <h1>and an optimal User Experience.</h1>
        <button (click)="auth.googleSignin()" mat-raised-button>
            <img width="20px" style="margin-top:4px; margin-right:8px" alt="Google sign-in" 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>    
            Sign in with Google
        </button>
    </div>
    <div class="cards-container">
        <home-cards></home-cards>
        <home-cards></home-cards>
        <home-cards></home-cards>
    </div>
</div> -->

<div class="framer-17VMZ snipcss-2LQon" style="display:contents">
    <div class="framer-72rtr7 style-S7kbQ" id="style-S7kbQ">
      <div class="framer-izipst" data-framer-name="Hero" name="Hero">
        <div class="framer-1m6zcj4" data-framer-name="Menu" name="Menu">
          <div class="framer-1o7iind style-3xcjG" data-framer-component-type="RichTextContainer" id="style-3xcjG">
            <p style="font-weight: bold; font-size:46px" class="framer-text style-XoYMm" id="style-XoYMm">Sub & Dub
            </p>
            <p class="framer-text style-XoYMm" id="style-XoYMm">Revolution in Subtitling & Dubbing
            </p>
          </div>
        </div>
        <div class="framer-rs3vcm" data-border="true" (click)="getStarted()">
              <h1 class="framer-text style-O989f" id="style-O989f">
                GET STARTED
              </h1>
        </div>
        <div class="framer-1hto07d">
          <div class="framer-11thb9q" data-framer-name="Image" name="Image">
            <div class="framer-10b499s">
            </div>
            <div class="framer-12fq5iq style-jshnF" data-framer-component-type="RichTextContainer" id="style-jshnF">
              <h1 class="framer-text style-tFLTC" id="style-tFLTC">Seamlessly combine the precision of Google Translate with the human touch of ChatGPT. It’s subtitle magic like you’ve never seen before. No language is out of reach now!
              </h1>
            </div>
          </div>
          <div class="framer-1vhezkk" data-framer-name="Image" name="Image">
            <div data-framer-background-image-wrapper="true" id="style-WgjoQ" class="style-WgjoQ">
              <img src="assets/images/homepage_banner1.jpg" alt="" id="style-e97mo" class="style-e97mo">
            </div>
          </div>
          <div class="framer-pp9yjo" data-framer-name="Image" name="Image">
            <div data-framer-background-image-wrapper="true" id="style-xjifs" class="style-xjifs">
              <img src="assets/images/homepage_banner4.webp" alt="" id="style-qAWA5" class="style-qAWA5">
            </div>
          </div>
          <div class="framer-3hlrvk" data-framer-name="Image" name="Image">
            <div class="framer-uazw45-container">
              <div id="style-Jj7TO" class="style-Jj7TO">
                <svg>
                  <clipPath id="curve-pBaYbXGyr-3njpi4" clipPathUnits="objectBoundingBox" transform="scale(0.005)">
                    <path d="M200 99.5882C200 99.5882 155.228 150.176 100 150.176C44.7715 150.176 0 99.5882 0 99.5882C0 99.5882 44.7715 49 100 49C155.228 49 200 99.5882 200 99.5882Z">
                    </path>
                  </clipPath>
                </svg>
              </div>
            </div>
          </div>
          <div class="framer-smw6up" data-border="true" data-framer-name="Decoration" name="Decoration">
          </div>
          <div class="framer-kljns1" data-border="true" data-framer-name="Decoration" name="Decoration">
          </div>
        </div>
      </div>
      <div class="framer-1fpzmgq" data-framer-name="Metrics" name="Metrics">
        <div class="framer-1m5sbt9">
          <div class="framer-1gvow" data-framer-name="Card" name="Card">
            <div class="framer-1etk73u style-Y3led" data-framer-component-type="RichTextContainer" id="style-Y3led">
              <h2 class="framer-text style-5Iw2H" id="style-5Iw2H">
                100+
              </h2>
            </div>
            <div class="framer-dlcxlt style-CMm6E" data-framer-component-type="RichTextContainer" id="style-CMm6E">
              <h3 class="framer-text style-Ps2xU" id="style-Ps2xU">
                Languages available for translation. Your content, for the world to understand.
              </h3>
            </div>
          </div>
          <div class="framer-xdm1ys" data-framer-name="Card" name="Card">
            <div class="framer-1uy86ve" data-framer-name="Image" name="Image">
              <div data-framer-background-image-wrapper="true" id="style-gdzvo" class="style-gdzvo">
                <img src="assets/images/homepage_banner2.jpg" alt="" loading="lazy" id="style-xUGQo" class="style-xUGQo">
              </div>
            </div>
          </div>
          <div class="framer-e74uzy" data-framer-name="Card" name="Card">
            <div class="framer-1q6krjs" data-framer-name="Image" name="Image">
              <div data-framer-background-image-wrapper="true" id="style-JY3C8" class="style-JY3C8">
                <img src="assets/images/homepage_banner3.webp" alt="" loading="lazy" id="style-qjeZY" class="style-qjeZY">
              </div>
            </div>
          </div>
          <div class="framer-lywx49" data-framer-name="Card" name="Card">
            <div class="framer-sun0bc style-Dr8BU" data-framer-component-type="RichTextContainer" id="style-Dr8BU">
              <h2 class="framer-text style-Z8CAj" id="style-Z8CAj">
                Google Translate & ChatGPT
              </h2>
              <br/>
            </div>
            <div class="framer-n2z993 style-8hoXX" data-framer-component-type="RichTextContainer" id="style-8hoXX">
              <h2 class="framer-text style-UrLUD" id="style-UrLUD">Got a French movie that needs English subtitles? We've got you covered. From Greek comedies to Japanese thrillers, we’re your linguistic maestros.</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="overlay">
    </div>
  </div>
  