<div class="main-view-login" *ngIf="!(auth.user | async)">
    <div class="call-to-action_login">
        <h1 style="padding-top:15px;">To Unlock all features,</h1>
        <h1>and an optimal User Experience.</h1>
        <button (click)="auth.googleSignin()" mat-raised-button>
            <img width="20px" style="margin-top:4px; margin-right:8px" alt="Google sign-in" 
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png"/>    
            Sign in with Google
        </button>
    </div>
    <div class="cards-container">
        <home-cards></home-cards>
        <home-cards></home-cards>
        <home-cards></home-cards>
    </div>
</div>