.main-view-login {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.call-to-action_login {
    padding-top:15px;
    text-align:center;
    color: rgba(0, 0, 0, 0.6);
}

.mdc-card {
    flex-direction: row;
}