.input-container {
    padding-left:24px;
    padding-right:5px;
    gap:25px;
    display:flex;
    align-items: center;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    display: none;
}

::ng-deep .mat-mdc-form-field {
    flex-grow: 1;
}

.mdc-dialog__actions {
    padding-top:16px;
}