.dialog-wrapper {
    display:flex;
    flex-direction: column;
}

.main-content_wrapper {
    overflow-y: auto;
    height: 75vh;
    overflow-x: visible;
}

.button-wrapper  {
    display: flex;
    flex-direction: row;
    gap:40px;
    padding-bottom:20px;
    justify-content: flex-start;
}

.button-wrapper > input {
    display: none;
}