.dialog-wrapper {
    display:flex;
    flex-direction: row;
}

.main-content_wrapper {
    overflow-y: auto;
    padding-right:10px;
    height: 75vh;
    overflow-x: visible;
    margin-right:30px;
}

.button-wrapper  {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.button-wrapper > input {
    display: none;
}