<div class="dialog-wrapper">
    <div class="button-wrapper">
        <button mat-mini-fab color="primary"
            (click)="addDialogBox()" 
            matTooltip="Add Dialog Box"><mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab color="primary"
            matTooltip="Translate your text"
            [matMenuTriggerFor]="translateMenu">
            <mat-icon>g_translate</mat-icon>
        </button>
            <mat-menu #translateMenu="matMenu">
                <sd-loader *ngIf="loading; else loadingComplete"></sd-loader>
                <ng-template #loadingComplete>
                    <p mat-menu-item *ngFor="let language of (supportedLanguages$ | async)?.data?.languages"
                    (click)="translateSubtitles(language.language)">
                        {{language.name}}
                    </p>
                </ng-template>
            </mat-menu>
        <import-button (fileContentEmit)="handleFileUpload($event)" [acceptedFiles]="'.sbv'">
        </import-button>
    </div>
    <div class="main-content_wrapper">
        <dialog-content *ngFor="let dialogBox of dialogBoxes; let dialogIndex = index"
        [dialogGroup]="getDialogControl(dialogBox.id)"
        [index]="dialogIndex"
        [dialogId]="dialogBox.id"
        (deleteDialogBoxEvent)="deleteDialogBox($event)"
        (startTimeValueValidation)="startTimeValidation($event)"
        (endTimeValueValidation)="endTimeValidation($event)">
        </dialog-content>
    </div>
</div>