.dialog-wrapper {
    display:flex;
    flex-direction: row;
    
}

.main-content_wrapper {
    margin-right:30px;
}

.button-wrapper  {
    display: flex;
    flex-direction: column;
    gap:40px;
}

.button-wrapper > input {
    display: none;
}