<div class="wrapper">
    <div class="header-duration-container">
        <div *ngFor="let point of timelinePoints">{{point}}</div>
    </div>
    <div class="timeline">
        <div class="subs-container">
            <div class="icon">
                <mat-icon>subtitles</mat-icon>
            </div>
            <div class="sub-tiles">
                <div class="tile">
                    <subtitle-tile></subtitle-tile>
                </div>
                <div class="tile">
                    <subtitle-tile></subtitle-tile>
                </div>
                <div class="tile">
                    <subtitle-tile></subtitle-tile>
                </div>
                <div class="tile">
                    <subtitle-tile></subtitle-tile>
                </div>
                <div class="tile">
                    <subtitle-tile></subtitle-tile>
                </div>
            </div>
        </div>
    </div>
</div>
