<form [formGroup]="form" (submit)="onSubmit()">
    <div class="url-wrapper">
        <mat-form-field color="primary" class="form-field">
            <mat-label>Enter YouTube URL</mat-label>
            <input formControlName="youtubeUrl" matInput type="text">
            <mat-hint>Enter the YouTube video URL which you want subtitles/dubbing for</mat-hint>
            <mat-error>Invalid URL</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">ADD +</button>
    </div>
</form>